html,
body {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

@font-face {
    font-family: "PT Sans";
    src: url("fonts/ptsans.woff2") format("woff2");
    src: url("fonts/ptsansbold.woff2") format("woff2");
    src: url("fonts/ptsans.woff") format("woff");
    src: url("fonts/ptsansbold.woff") format("woff");
}

body {
  padding: 10px;
  font-family: "PT Sans", sans-serif, serif;
  font-size: 16px;
  line-height: 20px;
}

main {
  width: 1200px;
}

.visually-hidden {
  display: none;
}

 ul {
   margin: 20px 0;
   padding: 0;
   list-style: none;
 }

 h1 {
   margin: 36px 0;
   font-size: 36px;
   line-height: 42px;
 }

 h2 {
   margin: 24px 0;
   font-size: 24px;
   line-height: 28px;
 }

 h3 {
   margin: 18px 0;
   font-size: 18px;
   line-height: 20px;
 }
